<mat-nav-list >
    <div class="logo py-4">
      <div fxLayout="row" fxLayoutAlign="center">
        <div class="round-avatar">
        </div>
      </div>    </div>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" class="text-white" z>
      <mat-icon style="margin-right: 10px;">dashboard</mat-icon> Dashboard
    </a>
    <!-- <h2 matSubheader class="mt-2 text-white">	<mat-icon style="margin-right: 10px;">view_list</mat-icon>Menu</h2> -->
    <a mat-list-item  class="text-white" routerLink="/lab/tests"><mat-icon style="margin-right: 10px;">search</mat-icon>Tests</a>
  </mat-nav-list>
  <!-- routerLink="/lab/dashboard" -->