<div class="container">
    <mat-dialog-content class="mat-typography">
        <mat-card>
            <mat-card-title>
               <mat-card-subtitle>
                Lab Results
               </mat-card-subtitle>
            </mat-card-title>
            <mat-card-content>
                <form action="" class="form-horizontal">
                   <div class="row">
                       <div class="col-3">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Test name</mat-label>
                            <input matInput placeholder="days" value="RBC test">
                          </mat-form-field>
                       </div>
                       <div class="col-3">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Result Image</mat-label>
                            <input matInput placeholder="days" value="image to be displayed here">
                          </mat-form-field>
                       </div>
                       <div class="col-6">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Feed back</mat-label>
                            <input matInput placeholder="days" value="sample feed">
                          </mat-form-field>
                       </div>
                     
                   </div>
                   <div class="row">
                    <div class="col-6">
                     <mat-form-field class="example-full-width" appearance="fill">
                         <mat-label>Clinical trials</mat-label>
                         <input matInput placeholder="days" value="sammple comment">
                       </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>lab tech comment</mat-label>
                            <input matInput placeholder="days" value="sample comment">
                          </mat-form-field>
                       </div>
                  
                </div>
                </form>
    
            </mat-card-content>
        </mat-card>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>save</button>
      </mat-dialog-actions>

</div>
