<mat-nav-list>
  <div class="logo py-4">
    <div fxLayout="row" fxLayoutAlign="center">
      <div class="round-avatar">
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/reception/dashboard" class="text-white" z>
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <h2 matSubheader class="mt-2 text-white">
    <mat-icon>view_list</mat-icon>Menu
  </h2>
  <a mat-list-item color="primary" class="text-white" routerLink="/reception/addpatient">
    <mat-icon>people</mat-icon>Add patient
  </a>
  <a mat-list-item class="text-white" routerLink="/reception/findpatient">
    <mat-icon>search</mat-icon>Find patient
  </a>
</mat-nav-list>