<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Patient Details
                </div>
                <div class="card-body">
                    <form action="">
                        <div class="row">
                            <div class="col-4">
                                <mat-form-field appearance="outline">

                                    <input matInput placeholder="First Name">
                                    <mat-icon matSuffix>edit</mat-icon>

                                </mat-form-field>
                            </div>

                            <div class="col-4">
                                <mat-form-field appearance="outline">

                                    <input matInput placeholder="Middle Name">
                                    <mat-icon matSuffix>edit</mat-icon>

                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field appearance="outline">

                                    <input matInput placeholder="Last Name">
                                    <mat-icon matSuffix>edit</mat-icon>

                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label for="">Gender</label>
                            <mat-radio-group aria-label="Select an option">
                         
                                <mat-radio-button value="male">Male</mat-radio-button>
                                <mat-radio-button value="female">Female</mat-radio-button>
                              </mat-radio-group>
                            <div class="col-4">
                                <label for=""></label>
                                <input type="date" name="" id="" class="form-control">
                            </div>
                        </div>
                      
                
                        <div class="row">
                            <div class="col-4">
                                <label for=""></label>
                                <mat-form-field appearance="outline">
                            
                                    <input matInput placeholder="Next oif kin name">
                                    <mat-icon matSuffix>edit</mat-icon>

                                </mat-form-field>
                            </div>
                            <div class="col-4">
            
                                <mat-form-field appearance="outline">
                                    <label for=""></label>
                                    <input matInput placeholder="Next oif kin">
                                    <mat-icon matSuffix>edit</mat-icon>

                                </mat-form-field>
                            </div>
                            <div class="col-4">
                            
                                <mat-form-field appearance="outline">
                                    <label for=""></label>
                                    <input matInput placeholder="Relationship">
                                    <mat-icon matSuffix>edit</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <mat-form-field appearance="outline">

                                    <input matInput placeholder="Next oif kin phone">
                                    <mat-icon matSuffix>phone</mat-icon>

                                </mat-form-field>
                            </div>
                        </div>






                        <p>
                            <button mat-raised-button color="primary" class="btn btn-primary">Register</button>
                        </p>

                    </form>
                </div>
            </div>


        </div>

    </div>
</div>