<div class="container">
    <div class="row">
        <div class="col-md-3">
            <mat-card>
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <mat-icon style="font-size: 70px;">square</mat-icon>
                    <div>
                        <mat-card-subtitle fxLayout="row" fxLayoutAlign="end">Total Blocks</mat-card-subtitle>
                        <mat-card-title fxLayout="row" fxLayoutAlign="end" style="font-size: 40px;">143</mat-card-title>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card>
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <mat-icon style="font-size: 70px;">today</mat-icon>
                    <div>
                        <mat-card-subtitle fxLayout="row" fxLayoutAlign="end"> Job Today's patients</mat-card-subtitle>
                        <mat-card-title fxLayout="row" fxLayoutAlign="end" style="font-size: 40px;">10</mat-card-title>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card>
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <mat-icon style="font-size: 70px;">calendar_view_day</mat-icon>
                    <div>
                        <mat-card-subtitle fxLayout="row" fxLayoutAlign="end">Yesterday's patients</mat-card-subtitle>
                        <mat-card-title fxLayout="row" fxLayoutAlign="end" style="font-size: 40px;">25</mat-card-title>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card>
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <mat-icon style="font-size: 70px;">person</mat-icon>
                    <div>
                        <mat-card-subtitle fxLayout="row" fxLayoutAlign="end">Active</mat-card-subtitle>
                        <mat-card-title fxLayout="row" fxLayoutAlign="end" style="font-size: 40px;">143</mat-card-title>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button mat-raised-button color="primary" (click)="registerUser()">
                <mat-icon>person_add</mat-icon><span style="margin-left: 10px;">Register staff</span>
            </button>
            <!-- <button mat-raised-button style="margin-left: 10px; background-color: red; color: white; font-weight: bold;">
                <mat-icon>block</mat-icon><span style="margin-left: 10px;">Revoke</span>
            </button> -->
        </div>
    </div>
</div>