<mat-nav-list >
    <div class="logo py-4">
   <img src="./assets/medics.jpg" class="img rounded-circle" alt="Company Logo" height="100px" width="100px" />
    </div>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/consult/dashboard" class="text-white" z>
      <mat-icon>dashboard</mat-icon> Dashboardsss
    </a>
    <h2 matSubheader class="mt-2 text-white">	<mat-icon>view_list</mat-icon>Menu</h2>
    <a mat-list-item  class="text-white" routerLink="/consult/patients"><mat-icon>search</mat-icon>Consultations</a>
  </mat-nav-list>
  