<mat-card-title>
    Prescription
    </mat-card-title>
    <mat-card-content>
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading" style="margin-top: 10px; margin-bottom: 10px;"></mat-progress-bar>
        <form action="" class="form-horizontal">
            <div class="row">
                <div class="col-12">
                    <label for="">How many prescription do you want to make?</label>
                    <mat-form-field appearance="fill">
                        <mat-label>Number of prescriptions</mat-label>
                        <mat-select (valueChange)="numChanged($event)">
                            <mat-option *ngFor="let num of nums" value="{{num}}">
                                {{num}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>
            <br>
            <div class="row" *ngFor="let index of medicineCount; let ind=index">
                <div class="col-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Medicine</mat-label>
                        <mat-select (valueChange)="addMedicine(ind, $event)">
                            <mat-option *ngFor="let medicine of medicines" value="{{medicine}}">
                                {{medicine}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Amount</mat-label>
                        <input matInput placeholder="Ex. 1" type="number" value="1" (change)="addAmount(ind, $event)">
                      </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Times aday</mat-label>
                        <mat-select (valueChange)="addTimesADay(ind, $event)">
                            <mat-option value="1">
                                1
                            </mat-option>
                            <mat-option value="2">
                                2
                            </mat-option>
                            <mat-option value="3">
                                3
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!-- <div class="col-3">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Duration in days</mat-label>
                        <input matInput placeholder="days" value="3">
                      </mat-form-field>
                </div> -->
                
            </div>
        </form>

    </mat-card-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" (click)="sendToAccount()">Send to Accounts</button>
    </mat-dialog-actions>