<div class="container">
    <mat-dialog-content class="mat-typography">
        <mat-card>
            <mat-card-title>
            Prescription
            </mat-card-title>
            <mat-card-content>
                <form action="" class="form-horizontal">
                    <div class="row">
                        <div class="col-12">
                            <label for="">How many prescription do you want to make?</label>
                            <mat-form-field appearance="fill">
                                <mat-label>Times aday</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let medicine of medicines">
                                        {{medicine}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>
                    <br>
                    <div class="row">
                        <div class="col-3">
                            <mat-form-field appearance="fill">
                                <mat-label>Medicine</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let medicine of medicines">
                                        {{medicine}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Amount</mat-label>
                                <input matInput placeholder="Ex. Pizza" value="Sushi">
                              </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field appearance="fill">
                                <mat-label>Times aday</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let medicine of medicines">
                                        {{medicine}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Duration in days</mat-label>
                                <input matInput placeholder="days" value="3">
                              </mat-form-field>
                        </div>
                        
                    </div>
                </form>

            </mat-card-content>
        </mat-card>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary">Save</button>
    </mat-dialog-actions>

</div>