<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sec Wallet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script src="../scripts/crypto-js.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: 'Source Sans Pro', sans-serif;
            background-color: #f7f7f7;
        }
    </style>

</head>

<body>
    <div class="container pb-2">
        <div class="row p-2 shadow" style="background-color: #fff;">
            <div class="col">
                <h4 style="float: left; margin-top: 12px; font-weight: bold;">OpenEMR Wallet</h4> <img
                    style="float: right;" src="../images/48.png">
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4"></div>
            <div class="col-md-4">

                <div class="card shadow-sm border-light p-3">
                    <div class="row">
                        <div class="col">
                            <div class="row mt-4">
                                <div class="col">
                                    <center>
                                        <img src="../images/lock.png" alt="Lock image" width="120px">
                                    </center>
                                </div>
                            </div>
                            <div id="url-div">
                                <h6 class="mb-2">
                                    Organization Url
                                </h6>
                                <input type="text" id="url" class="form-control" placeholder="Organization url">
                                <label for="url" class="form-text">Root url for your organizion</label>
                                <button class="btn mt-3" id="url-next"
                                    style="width: 100%; background-color: #003d99; color: white;">Next</button>
                            </div>
                            <div id="id-div">
                                <h6 class="mb-2">
                                    Identity
                                </h6>
                                <input type="text" id="id" class="form-control" placeholder="Identity">
                                <label for="id" class="form-text">Import your Identity</label>
                                <button class="btn mt-3" id="id-next"
                                    style="width: 100%; background-color: #003d99; color: white;">Next</button>
                            </div>
                            <div id="username-div">
                                <h6 class="mb-2">
                                    Username
                                </h6>
                                <input type="text" id="username" class="form-control" placeholder="Username">
                                <label for="username" class="form-text">Username for your identity</label>
                                <button class="btn mt-3" id="username-next"
                                    style="width: 100%; background-color: #003d99; color: white;">Next</button>
                            </div>
                            <div id="password-div">
                                <h6 class="mb-2">
                                    Password
                                </h6>
                                <input type="password" id="password" class="form-control" placeholder="Password">
                                <label for="password" class="form-text">Password for your wallet</label>
                                <button class="btn mt-3" id="password-set"
                                    style="width: 100%; background-color:#003d99; color: white;">Set</button>
                            </div>
                            <div id="connect-div">
                                <h6 class="mb-2">
                                    Password
                                </h6>
                                <input type="password" id="passwordConnect" class="form-control" placeholder="Password">
                                <label for="passwordConnect" class="form-text" id="passInfo">Connect to Sec Doc</label>
                                <label for="passwordConnect" class="text-danger" id="passText">Wrong password</label>
                                <label for="passwordConnect" class="text-danger" id="passEmpty">Enter password to
                                    Connect</label>
                                <button class="btn mt-3" id="password-connect"
                                    style="width: 100%; background-color:#003d99; color: white;">Connect</button>
                            </div>
                            <div id="connected-div">
                                <h6 class="mb-2" style="color: green; font-weight: bold; font-size: 25px;">
                                    Connected
                                </h6>
                                <div class="shadow-sm p-2">
                                    <i class="fa fa-link" aria-hidden="true" style="color: #003d99;"></i> <span
                                        id="url-connected">w</span>
                                </div>
                                <div class="shadow-sm p-2">
                                    <i class="fa fa-user" aria-hidden="true" style="color: #003d99;"></i> <span
                                        id="username-connected">11</span>
                                </div>
                                <button class="btn mt-3 bg-danger" id="disconnect"
                                    style="width: 100%; color: white;">Disconnect</button>

                            </div>
                            <center class="mt-1">
                                <a href="#" id="newId">Import new identity</a>
                            </center>
                        </div>

                    </div>
                </div>
                <!-- <form action="#"  method="GET">
                    <h6 class="mb-2" id="name">
                        Enter your password
                    </h6>
                    <div class="input-group">
                        <input type="text" name="password" id="password" class="form-control">
                    </div>
                    <div class="input-group mt-3">
                        <input type="submit" value="Unlock" id="submit" style="width: 100%;">
                    </div>

                </form> -->

            </div>
            <div class="col-md-4"></div>
        </div>

    </div>

    <script src="../scripts/home.js"></script>

</body>

</html>