<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Patient Details
                </div>
                <div class="card-body">
                    <table class="table  table-bordered table-striped  table-hover table-bordered row-border hover"  datatable >
                        <thead>
                            <tr class=" text-white" style="background-color: rgb(63,81,181);">
                                <th>pid</th>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Age</th>
                                <th>Location</th>
                                <th>payment</th>
                                <th>send</th>
                               
                            </tr>
                        </thead>
                        <tbody>
            
                            <tr>
                                <td>001</td>
                                <td>Juliana</td>
                                <td>Female</td>
                                <td>38</td>
                                <td>Makuru</td>
                                <td>cash</td>
                                <td><a href="" mat-raised-button mat-button-primary color="primary"><mat-icon>send</mat-icon></a></td> 
                              
                            </tr>
                    
            
                        </tbody>
                     
                    </table>
                </div>
            </div>


        </div>

    </div>
</div>