<div class="container">
  <div class="row">
    <div class="col-12">
      <p>
        <mat-toolbar>
       
          <span ><button mat-button >Open EMR</button></span>
        </mat-toolbar>
      </p>
    </div>
  </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            
            <mat-card class="example-card mt-5">
              <mat-card-header>
                <mat-card-title><mat-icon>login</mat-icon> User login</mat-card-title>
              </mat-card-header>
                <mat-card-content>
                    <form #form="ngForm" action="" (click)="login(form)">
                        <p>
                            <mat-form-field appearance="outline">
                         
                              <input ngModel name="username" matInput placeholder="Enter username">
                              <mat-icon matSuffix>email</mat-icon>
                         
                            </mat-form-field>
                          </p>
                          <p>
                            <mat-form-field appearance="outline">
                           
                              <input ngModel name="password" matInput placeholder="Enter password">
                              <mat-icon matSuffix>password</mat-icon>
                          
                            </mat-form-field>
                          </p>
                          <p>
                            <button mat-raised-button color="primary" class="btn btn-primary">login</button>
                          </p>
        
                    </form>
                </mat-card-content>
                <mat-divider inset></mat-divider>
             
                <mat-card-footer>
                 
                </mat-card-footer>
              </mat-card>
        </div>
        <div class="col-4"></div>
    </div>
</div>
