<div class="container mt-5">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            
            <mat-card class="example-card mt-5">
                <mat-card-content>
                    <form action="" (click)="login()">
                        <p>
                            <mat-form-field appearance="outline">
                         
                              <input matInput placeholder="Enter username">
                              <mat-icon matSuffix>email</mat-icon>
                         
                            </mat-form-field>
                          </p>
                          <p>
                            <mat-form-field appearance="outline">
                           
                              <input matInput placeholder="Enter password">
                              <mat-icon matSuffix>password</mat-icon>
                          
                            </mat-form-field>
                          </p>
                          <p>
                            <button mat-raised-button color="primary" class="btn btn-primary">Primary</button>
                          </p>
        
                    </form>
                </mat-card-content>
                <mat-divider inset></mat-divider>
             
                <mat-card-footer>
                 
                </mat-card-footer>
              </mat-card>
          
        </div>
        <div class="col-4"></div>
    </div>
</div>
