<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <mat-card>
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <mat-icon style="font-size: 70px;">person_outline</mat-icon>
                    <div>
                        <mat-card-subtitle fxLayout="row" fxLayoutAlign="end">Total patients</mat-card-subtitle>
                        <mat-card-title fxLayout="row" fxLayoutAlign="end" style="font-size: 40px;">{{patients.length}}</mat-card-title>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card>
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <mat-icon style="font-size: 70px;">local_hospital</mat-icon>
                    <div>
                        <mat-card-subtitle fxLayout="row" fxLayoutAlign="end"> Organizations</mat-card-subtitle>
                        <mat-card-title fxLayout="row" fxLayoutAlign="end" style="font-size: 40px;">{{orgs.length}}</mat-card-title>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card>
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <mat-icon style="font-size: 70px;">calendar_view_day</mat-icon>
                    <div>
                        <mat-card-subtitle fxLayout="row" fxLayoutAlign="end">Peers</mat-card-subtitle>
                        <mat-card-title fxLayout="row" fxLayoutAlign="end" style="font-size: 40px;">{{treated}}</mat-card-title>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div style="display: block; height: 100%; width: 100%;">
                <mat-card>
                    <div class="bar" [chart]="barChart"></div>
                </mat-card>
              </div>
        </div>
        <div class="col-md-6">
            <mat-card>
                <mat-card-header>
                   <mat-card-title> Active Patients</mat-card-title>
                </mat-card-header>
                <span></span>

                <mat-card-content>
                    <table class="table  table-bordered table-striped  table-hover table-bordered row-border hover"  datatable >
                        <thead>
                            <tr class="text-primary">
                                <th>pid</th>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Age</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let patient of patients">
                                <td>{{patient.id}}</td>
                                <td>{{patient.fname}} {{patient.mname}} {{patient.lname}}</td>
                                <td>{{patient.gender}}</td>
                                <td>{{patient.dob}}</td>
                            </tr>
                        </tbody>
                    </table>
                </mat-card-content>
               
            </mat-card>
        </div>
    </div>
</div>