<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                History
                </div>
                <div class="card-body">

                    <form action="">
                        
                    
                        Patient information
                        <hr style="border: 1px solid blue;">
                        <div class="row">
                            <div class="col-4">
                                <label for="">First Name</label>
                                <input type="text" class="form-control"value="James Kalekwa" readonly >
                            </div>
                            <div class="col-4">
                                <label for="">Middle Name</label>
                                <input type="text" class="form-control"value="James Kalekwa" readonly >
                            </div>
                            <div class="col-4">
                                <label for="">Last Name</label>
                                <input type="text" class="form-control"value="James Kalekwa" readonly >
                            </div>
                           
                        </div>
                        <hr style="border: 1px solid blue;">
                        Complaints
                        <hr style="border: 1px solid blue;">
                        <div class="row">
                            
                            <div class="col-6 mt-3">
                                <label for="">Presenting complain</label>
                                <textarea name="" id="" cols="10" rows="3" class="form-control"></textarea>
                            </div>
                            <div class="col-6 mt-3">
                                <label for="">History of the complain</label>
                                <textarea name="" id="" cols="10" rows="3" class="form-control"></textarea>
                            </div>
                        </div>
                                   <hr style="border: 1px solid blue;">
                                   Medical Treatment
                                   <hr style="border: 1px solid blue;">
                        <div class="row">
                            
                            <div class="col-6 mt-3">
                                <label for="">Diagoniss</label>
                                <textarea name="" id="" cols="10" rows="3" class="form-control"></textarea>
                            </div>
                            <div class="col-6 mt-3">
                                <label for="">Prescription</label>
                                <textarea name="" id="" cols="10" rows="3" class="form-control"></textarea>
                            </div>
                        </div>
                        <hr style="border: 1px solid blue;">
                    <a routerLink="/consult/patients" class="btn btn-primary">back</a>
                        <hr style="border: 1px solid blue;">
                        
                        
                    </form>

                  
                </div>
            </div>


        </div>
        <div class="col-2"></div>
    </div>
</div>