<div class="container">
    <div class="row">
        <div class="col-12">
            <mat-card>
                <mat-card-title>
                    <mat-card-subtitle>
                        Patient History
                    </mat-card-subtitle>
                    <mat-card-content>
                        <form action="">
                            
                            <div class="row">
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>First Name</mat-label>
                                        <input matInput placeholder="Ex. Pizza" value="Sushi">
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Middle Name</mat-label>
                                        <input matInput placeholder="Ex. Pizza" value="Sushi">
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Last Name</mat-label>
                                        <input matInput placeholder="Ex. Pizza" value="Sushi">
                                    </mat-form-field>
                                </div>
    
    
                            </div>
    
                            Complaints
                       
                            <div class="row">
    
                                <div class="col-6 mt-3">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Message</mat-label>
                                        <input matInput #message maxlength="256" placeholder="Ex. I need help with...">
                                        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-6 mt-3">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>History of the complain</mat-label>
                                        <input matInput #message maxlength="256" placeholder="Ex. I need help with...">
                                        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
    
                            Medical Treatment
                            <div class="row">
    
                                <div class="col-6 mt-3">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Diagoniss</mat-label>
                                        <input matInput #message maxlength="256" placeholder="Ex. I need help with...">
                                        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-6 mt-3">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Prescription</mat-label>
                                        <input matInput #message maxlength="256" placeholder="Ex. I need help with...">
                                        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                          
                            <a routerLink="/consult/patients" class="btn btn-primary">back</a>
                        
                        </form>
                    </mat-card-content>
                </mat-card-title>
            </mat-card>
        </div>
        <div class="col-2"></div>
    </div>
</div>