<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-12">
            <mat-card>
                <mat-card-title>
                    <mat-card-subtitle style="font-weight: 500;font-size: large; color: black;">
                        Medical Receipt
                    </mat-card-subtitle>
                </mat-card-title>
                <mat-card-content>
                    <form action="">
                        <span style="font-weight: 500; color: black;">Patient details</span>
                        <hr>
                        <div class="row">
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>First Name</mat-label>
                                    <input matInput value="Emmanuel" readonly>
                                </mat-form-field>

                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Middle Name</mat-label>
                                    <input matInput value="Emmanuel" readonly>
                                </mat-form-field>

                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput value="Emmanuel" readonly>
                                </mat-form-field>

                            </div>
                        </div>
                        <span style="font-weight: 500; color: black;">Medical Prescription</span>

                        <div class="row mt-3">

                            <div class="col-6">
                                <span style="font-weight: 500; color: black;">Cost</span>
                                <hr>
                                <mat-list role="list">
                                    <mat-list-item role="listitem" style="font-size: 15px; height: 30px;">  </mat-list-item>
                                    <mat-list-item role="listitem" style="font-size: 15px; height: 30px;">  </mat-list-item>
                                </mat-list>
                                <!-- <ol>
                                <li>3x30 Tsh</li>
                                <li>2x30 Tsh</li>
                            </ol> -->

                            </div>
                            <div class="col-6">
                                <span style="font-weight: 500; color: black;">Prescription</span>
                                <hr>
                                <mat-list role="list">
                                    <mat-list-item role="listitem" style="font-size: 15px; height: 30px;">paracetamol(500mg) 1 tabl (0) 2days</mat-list-item>
                                    <mat-list-item role="listitem" style="font-size: 15px; height: 30px;">paracetamol(500mg) 1 tabl (0) 2days</mat-list-item>
                                </mat-list>

                            </div>
                        </div>
                        Total cost
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                150 Tsh
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10">

                            </div>
                            <div class="col-1">
                                <button mat-raised-button color="primary" (click)="printReceipt()">Print</button>
                            </div>
                            <div class="col-1">

                            </div>
                        </div>

                    </form>
                </mat-card-content>
            </mat-card>


        </div>
        <div class="col-1"></div>
    </div>
</div>