<div style="width: 600px;">
        <mat-card-title>
            <mat-card-subtitle>
              Patient Test result
            </mat-card-subtitle>
        </mat-card-title>
        <mat-card-content>
            <form action="">
                
                <div class="row">
                    <div class="col-4">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>sample name</mat-label>
                            <input matInput placeholder="Ex. Pizza" value="Sushi">
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>image</mat-label>
                            <input type="" matInput placeholder="Ex. Pizza" value="image should be displayed here">
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Feedback</mat-label>
                            <input matInput placeholder="feed back from technician" value="sample feed back">
                        </mat-form-field>
                    </div>


                </div>

                <div class="row">
                    <div class="col-6">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>smaple name</mat-label>
                            <input matInput placeholder="Ex. Pizza" value="sampledetails">
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Lab tech comment</mat-label>
                            <input matInput placeholder="sample recommendation" value="Sample recommendation">
                        </mat-form-field>
                    </div>
                   

                </div>
                <div fxLayout="row" fxLayoutAlign="end">
                    <button mat-raised-button color="primary" (click)="save()">
                        <mat-icon style="margin-right: 5px;">save</mat-icon> Save

                    </button > 
                
                </div>

       
        
            
            </form>
        </mat-card-content>
</div>