<mat-progress-bar *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>
    <div class="row">
        <div class="col-12">
            <mat-card *ngIf="showDataTable" > 
                <mat-card-title>
                  <mat-card-subtitle>Patient Details</mat-card-subtitle>
                  <mat-card-content>
                    <table class="table  table-bordered table-striped  table-hover table-bordered row-border hover"  datatable >
                        <thead>
                            <tr class="text-primary">
                                <th>pid</th>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Age</th>
                                <th>History</th>
                                <th>Examination</th>
                                <th>Diagnosis</th>
                                <th>Prescription</th>
                            </tr>
                        </thead>
                        <tbody>
            
                            

                            <tr *ngFor="let patient of patients">
                                <td>{{patient.id}}</td>
                                <td>{{patient.fname}} {{patient.mname}} {{patient.lname}}</td>
                                <td>{{patient.gender}}</td>
                                <td>38</td>
                                <td><a mat-raised-button mat-button-primary color="primary" routerLink="/consult/history"><mat-icon>folder</mat-icon></a></td>
                                <td><a mat-raised-button mat-button-primary color="accent"  (click)="openExamine(patient.id)" ><mat-icon>visibility</mat-icon></a></td>
                                <td><a mat-raised-button mat-button-primary color="accent"  (click)="openDiagonise()"><mat-icon>visibility</mat-icon></a></td> 
                                <td><a  mat-raised-button mat-button-primary color="primary" (click)="openPrescribe()"><mat-icon>visibility</mat-icon></a></td> 
                            </tr>
                        </tbody>
                     
                    </table>
                  </mat-card-content>
                </mat-card-title>
            </mat-card>
        </div>

    </div>
