
    <div class="row">
        <div class="col-12">
                      <h1>PATIENT DETAILS</h1>
                            <div class="row">
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>First Name</mat-label>
                                        <input matInput placeholder="Ex. Pizza" value="Sushi">
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Middle Name</mat-label>
                                        <input matInput placeholder="Ex. Pizza" value="Sushi">
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Last Name</mat-label>
                                        <input matInput placeholder="Ex. Pizza" value="Sushi">
                                    </mat-form-field>
                                </div>
    
    
                            </div>
    
                          Treatment Details
                       
                            <div class="row">
    
                                <div class="col-6 mt-3">
                                    <mat-list role="list">
                                        <mat-list-item role="listitem">1. paracetamol 500 mg   2od for 2days</mat-list-item>
                                        <mat-list-item role="listitem">2. paracetamol 500 mg   2od for 2days</mat-list-item>
                                        <mat-list-item role="listitem">3. paracetamol 500 mg   2od for 2days</mat-list-item>

                                       
                                      </mat-list>
                                      <mat-list role="list">
                                        <mat-list-item role="listitem">amount:2000</mat-list-item>
                                        <mat-list-item role="listitem">Status:Paid</mat-list-item>
                                      </mat-list>
                                    
                                </div>
                               
                            </div>
                     
                            <div class="row">
                                <div class="col-12">
                                    <button mat-raised-button color="primary" (click)="closeSession()"><mat-icon>cached</mat-icon>Close session</button>
                                </div>
                            </div>
              
        </div>
        <div class="col-2"></div>
    </div> 


    