<div class="row">
    <div class="col-12">
        <h1>PATIENT DETAILS</h1>
       
        <div class="my-3" *ngIf="isLoading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>

        <div class="row">

            <div class="col-4">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="{{patient.fname}}" readonly="true">
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Middle Name</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="{{patient.mname}}" readonly="true">
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="{{patient.lname}}" readonly="true">
                </mat-form-field>
            </div>


        </div>

        <span class="font-bold">Prescription Details</span>

        <div class="row">

            <div class="col-6">
                <mat-list role="list">
                    <mat-list-item role="listitem" *ngFor="let prescribe of prescription; let ind = index">
                        {{prescribe.medicine}}
                    </mat-list-item>
                </mat-list>
            </div>

        </div>

        <span class="font-bold">Billed Amount:</span> {{total}}
        <br>
        <div fxLayout="row">
            <span class="mt-4 font-bold">Payment status: </span>
            <mat-list>
                <mat-list-item class="small-item">
                    <mat-chip-list>
                        <mat-chip style="background-color: green; color: white;"
                            *ngIf="payment_status == 'Paid'; else notPaid">{{payment_status}}
                        </mat-chip>
                        <ng-template #notPaid>
                            <mat-chip style="background-color: red; color: white;">
                                {{payment_status}}</mat-chip>
                        </ng-template>
                    </mat-chip-list>
                </mat-list-item>
            </mat-list>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <button mat-raised-button color="primary" (click)="closeSession()">
                    <mat-icon>cached</mat-icon> <span> End Session</span>
                </button>
            </div>
        </div>

    </div>
    <div class="col-2"></div>
</div>